<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
	<div class='header'>
			<div><a href="{{url_for('catalog')}}">Books Catalog appliction</a></div>
			<a href="{{url_for('showLogin')}}"><button>Login</button>
				</a>

	</div>
	<div class='descr'>
	<h1>{{books.name}}</h1>
	<p>
		<h2>
			<a href="{{url_for('booksMenu',category_id=categories.id)}}">{{categories.name}}</a>
		</h2>
		<p>{{books.description}}</p>
	</p>
</div>
</body>
</html>